#date-picker {
    margin-left: 1rem;
}

.image-member1,
.image-member2,
.image-member3,
.image-transport {
    height: 225px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #EEEEEE;
    background-size: contain;
}

.image-member1 {
    background-image: url(images/perfil_aleja.jpeg);
}
.image-member2 {
    background-image: url(images/perfil_john.png);
}
.image-member3 {
    background-image: url(images/perfil_liliana.jpg);
}
.image-transport {
    height: 690px !important;
    background-image: url(images/Transport1.jpg);
    background-color: #fff !important;
    background-size: cover !important;
}
.full-width {
    width: 100%;
}
